body {
    background-color: #161616;
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
    position: relative;
    overflow-x: hidden;
}

.circulo {
    width: 1900px;
    height: 1900px;
    background: #e51e2a;
    border-radius: 50%;

    position: absolute;
    top: -930%;
    left: 45%;

    z-index: -1;
}

header, section {
    position: relative;
    z-index: 1;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    padding: 40px 100px;
}

.conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1850px;
}

.logo {
    max-width: 150%;
    position: relative;
}

.logo img{
    width: 150px;
    height: 49px;
}
.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a{
    text-decoration: none;      
    padding: 16px;
    font-size: 16px;
    color: #FFFFFF;
}

.banner {
    display: flex;
    align-items: center;
}

.conteiner-banner {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1470px;
    height: 410px;
}

.text {
    max-width: 500px;
    color: white;
    Margin: 80px 16px 0px 0px;
}

.conteiner-coca {
    position: relative;
    height: 310px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.conteiner-coca img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}