body {
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
    position: relative;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

.case {
    background-color: #161616;
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden; 
}

.circulo {
    position: absolute;
    top: 0;
    right: 0; 
    width: 100%;
    height: 100%;
    background: #e51e2a;
    clip-path: circle(50% at 90% 30%); 
    z-index: 0;
    pointer-events: none; 
}

header, .banner {
    position: relative;
    z-index: 10; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 8%; 
    width: 100%;
    box-sizing: border-box;
}

.conteiner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.logo {
    max-width: 150%;
    position: relative;
}

.logo img{
    width: 150px;
    height: 49px;
}
.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a{
    text-decoration: none;      
    padding: 16px;
    font-size: 16px;
    color: #FFFFFF;
}

.text {
    max-width: 500px;
    color: white;
    Margin: 80px 16px 0px 0px;
    padding: 0px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8%;
    height: calc(100vh - 110px);
}

.conteiner-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.text h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.conteiner-coca {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}
.conteiner-coca img {
    max-height: 310px; 
    width: auto;
}